*{
    margin: 0;
    padding: 0;
}

.wrapper{
    margin: 0 auto;
    width: 600px;
}

body{
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    background-attachment: fixed;
}

.addTask{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-top: 100px;
    margin-bottom: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    padding: 0px 10px 0px 10px
}

.addTask input{
    outline: none;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0px transparent;
    width: 480px;
}

.addTask button{
    background-color: rgba(238,174,202,1);
    border-color: transparent;
    padding: 5px;
    font-weight: 300;
    width: 80px;
    transition: background-color 0.5s;
    color: white;
}

.addTask button:hover{
    background-color: rgba(148,187,233,1);
}

.tasks{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    background-color: transparent;
}

.task{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.task button{
    background-color: rgba(238,174,202,1);
    border-color: transparent;
    padding: 5px;
    font-weight: 300;
    width: 40px;
    transition: background-color 0.5s;
    color: white;
}

.task button:hover{
    background-color: rgba(148,187,233,1);
}

.clearAllTasks{
    display: flex;
    justify-content: flex-end;
}

.clearAllTasks button{
    background-color: rgba(238,174,202,1);
    border-color: transparent;
    padding: 5px;
    font-weight: 300;
    transition: background-color 0.5s;
    color: white;
}

.clearAllTasks button:hover{
    background-color: rgba(148,187,233,1);
}


@media only screen and (max-width: 700px) {
    .wrapper{
        width: 400px;
    }
  }

@media only screen and (min-width: 700px) {
    .wrapper{
        width: 600px;
    }
}